#result-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2% 10%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

#result-container #result {
	font-size: 1.25em;
	margin-bottom: 0;
}

#continue {
	cursor: pointer;
	text-decoration: underline;
	letter-spacing: .15em;
}